<div class="row" style="margin: 50px;">
    <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <ol>
                <li>
                    <h1>How it works?</h1>
                    </li>
<li>
                    <h3>1) We connect you with those people who are going to same location.</h3>
                </li>
                <li>
                    <h3>2) We share your information only with those, you accept the "Handshake" request.</h3>
                </li>
            </ol>
        </div>
    </div>