<div class="row"  style="margin-top: 50px;margin-bottom: 50px;">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
       

        <table class="table table-bordered table-striped">
            <thead style="font-weight:bold;">
                <tr>
                    <td>
                        #
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Email
                    </td>
                    <td>
                       Mobile
                    </td>
                    <td>
                        Gender
                    </td>
                    <td>
                        Profession
                    </td>
                    <td>
                        Profile Pic
                    </td>
                    <td>
                        Id Proff
                    </td>
                    <td></td>
                    
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let user  of Users;">
                    <td></td>
                    <td>
                        {{user.userName}}
                    </td>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        {{user.phone}}
                    </td>
                    <td>
                       
                    </td>
                    <td>
                       
                    </td>
                    <td>
                        <a href="#"><img src="/images/vipin.JPG" width="31px" class="avatar img-responsive"></a>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a  class="btn btn-primary">Delete</a>
                        <a class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <a href="#"><u>Load More Records</u></a>
        <a href="#"><u>Add User</u></a>
    </div>
</div>
